@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
::-moz-selection {
  background: #3b4259;
  color: white;
}
::selection {
  background: #3b4259;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: white;
  background-size: cover;
  background-position: center;
}

body h1,
body h2 {
  color: #3b4259;
}

body h1 {
  line-height: 1.4;
  margin-bottom: 0.5em;
  font-family: "Karma", serif;
}

body h2 {
  font-size: 1.6em;
  line-height: 1.4;
  font-family: "Assistant", sans-serif;
}

body h3 {
  display: block;
  color: rgba(59, 66, 89, 0.75);
  font-size: 1.1em;
  font-family: "Karma", serif;
  line-height: 1.6;
  letter-spacing: 2px;
  margin-bottom: 5vmin;
  padding-top: 3.75vh;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

body p,
body ul {
  color: #333333;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
}

body a {
  color: #3b4259;
  text-decoration: none;
  font-family: "Karma", serif;
}

body a p {
  color: #3b4259;
  margin: 1.25vmin 2.5vmin;
}

body a:hover,
body a:focus {
  color: #596487;
  text-decoration: none;
}

body a:hover .fa,
body a:focus .fa {
  color: #596487;
}

body a:hover h2,
body a:focus h2 {
  color: #596487;
}

body a:hover p,
body a:focus p {
  color: #596487;
}

body .activeLink {
  color: #596487;
}

body .activeLink i {
  color: #596487;
}

body .fa {
  color: #3b4259;
}

body figure {
  max-width: 45%;
  border-radius: 2.5em;
  margin: 4.25vh 0;
  margin-left: 2.5vmin;
}

body figure img {
  color: #596487;
}

body figure figcaption {
  font-size: 0.9em;
  color: #596487;
}

@media (max-width: 1023px) {
  body figure {
    max-width: 65%;
  }
}

@media (max-width: 480px) {
  body figure {
    max-width: 100%;
  }
}

body blockquote {
  background: #f2f2f2;
  border-left: 2px solid #939ebf;
  padding: 1.5vmax;
  padding-left: 2em;
  max-width: 65%;
}

body blockquote p {
  font-family: "Karma", serif;
  font-size: 0.8em;
}

@media (max-width: 1023px) {
  body blockquote {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  body blockquote {
    max-width: 100%;
  }
}

body footer {
  color: #333333;
}

body.light .headerLogoDark {
  display: none;
}

body.light header {
  background: white;
}

body.dark {
  background: #333333;
}

body.dark h1,
body.dark h2 {
  color: white;
}

body.dark h1 {
  line-height: 1.4;
  margin-bottom: 0.5em;
  font-family: "Karma", serif;
}

body.dark h2 {
  font-size: 1.6em;
  line-height: 1.4;
  font-family: "Assistant", sans-serif;
}

body.dark h3 {
  display: block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.1em;
  font-family: "Karma", serif;
  line-height: 1.6;
  letter-spacing: 2px;
  margin-bottom: 5vmin;
  padding-top: 3.75vh;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

body.dark p,
body.dark ul {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
}

body.dark a {
  color: white;
  text-decoration: none;
}

body.dark a p {
  color: white;
  margin: 1.25vmin 2.5vmin;
}

body.dark a:hover,
body.dark a:focus {
  color: #596487;
  text-decoration: none;
}

body.dark a:hover .fa,
body.dark a:focus .fa {
  color: #596487;
}

body.dark a:hover h2,
body.dark a:focus h2 {
  color: #596487;
}

body.dark a:hover p,
body.dark a:focus p {
  color: #596487;
}

body.dark .activeLink {
  color: #596487;
}

body.dark .activeLink i {
  color: #596487;
}

body.dark .fa {
  color: white;
}

body.dark figure {
  max-width: 45%;
  border-radius: 2.5em;
  margin: 4.25vmin 0;
  margin-left: 2.5vmin;
}

body.dark figure img {
  color: #939ebf;
  margin: 0;
}

body.dark figure figcaption {
  font-size: 0.9em;
  color: #939ebf;
}

@media (max-width: 1023px) {
  body.dark figure {
    max-width: 65%;
  }
}

@media (max-width: 480px) {
  body.dark figure {
    max-width: 100%;
  }
}

body.dark blockquote {
  background: #f2f2f2;
  border-left: 2px solid #939ebf;
  padding: 1.5vmax;
  padding-left: 2em;
  max-width: 65%;
}

body.dark blockquote p {
  font-family: "Karma", serif;
  font-size: 0.8em;
}

@media (max-width: 1023px) {
  body.dark blockquote {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  body.dark blockquote {
    max-width: 100%;
  }
}

body.dark footer {
  color: #333333;
}

body.dark .headerLogoLight {
  display: none;
}

body.dark header {
  background: #333333;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 4.25vmax;
  padding-bottom: 2.5vmax;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 65%;
}

header div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div .headerLogoLight,
header div .headerLogoDark {
  display: inline-block;
  width: 15vmax;
  height: 7.5vmax;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  header div .headerLogoLight,
  header div .headerLogoDark {
    width: 25vmax;
    height: 12.5vmax;
  }
}

header div nav {
  margin-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-bottom: 2px solid #596487;
}

header div nav a:first-of-type {
  margin-left: 0;
}

header div nav a {
  font-size: 1.1em;
  margin-left: 2.5vmax;
  -webkit-animation-name: nav-link;
          animation-name: nav-link;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}

@-webkit-keyframes nav-link {
  0% {
    margin: 0 2.5vmax;
  }
}

@keyframes nav-link {
  0% {
    margin: 0 2.5vmax;
  }
}

header div nav a i {
  margin-right: 0.5em;
}

@media (max-width: 1023px) {
  header div {
    width: 80%;
    padding-bottom: 2.5vmax;
  }
}

@media (max-width: 480px) {
  header div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    padding-bottom: 2.5vmax;
  }
}

.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContainer .postsContainer {
  width: 65%;
  padding-top: 2.5vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pageContainer .postsContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pageContainer .postsContainer ul li {
  margin: inherit;
  padding: inherit;
  margin-bottom: 3.75vh;
}

.pageContainer .postsContainer ul li h2 {
  border-bottom: 2px solid #d5dff2;
  margin-bottom: 1.25vh;
  line-height: 1.4;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.pageContainer .postsContainer ul li p {
  max-width: 65%;
  margin: inherit;
  padding: inherit;
  color: #596487;
}

.pageContainer .postsContainer ul li a:hover p {
  color: #1d202b;
}

@media (max-width: 1023px) {
  .pageContainer .postsContainer ul li h2 {
    font-size: 1.5em;
  }
  .pageContainer .postsContainer ul li p {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .pageContainer .postsContainer ul li h2 {
    font-size: 1.5em;
  }
  .pageContainer .postsContainer ul li p {
    max-width: 90%;
  }
}

@media (max-width: 1023px) {
  .pageContainer .postsContainer {
    width: 80%;
    margin: 1.25vmin 0;
  }
}

@media (max-width: 480px) {
  .pageContainer .postsContainer {
    width: 95%;
    margin: 1.25vmin 0;
  }
}

.blogTemplate {
  margin: 3.75vmin 0;
}

.blogTemplate .blogPostTitle {
  font-size: 2em;
  line-height: 1.4;
  border-bottom: 2px solid #596487;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media (max-width: 1023px) {
  .blogTemplate .blogPostTitle {
    font-size: 2em;
    line-height: 1.4;
    border-bottom: 2px solid #596487;
  }
}

@media (max-width: 480px) {
  .blogTemplate .blogPostTitle {
    font-size: 2em;
    line-height: 1.4;
    border-bottom: 2px solid #596487;
  }
}

.blogTemplate .blogContent {
  margin: 3.75vmin 0;
}

.blogTemplate .blogContent h1 {
  font-size: 1.6em;
  font-family: "Karma", serif;
}

.blogTemplate .blogContent h2 {
  font-size: 1.4em;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

.blogTemplate .blogContent h1,
.blogTemplate .blogContent h2,
.blogTemplate .blogContent p,
.blogTemplate .blogContent ul,
.blogTemplate .blogContent ol {
  max-width: 65%;
}

@media (max-width: 1023px) {
  .blogTemplate .blogContent h1,
  .blogTemplate .blogContent h2,
  .blogTemplate .blogContent p,
  .blogTemplate .blogContent ul,
  .blogTemplate .blogContent ol {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .blogTemplate .blogContent h1,
  .blogTemplate .blogContent h2,
  .blogTemplate .blogContent p,
  .blogTemplate .blogContent ul,
  .blogTemplate .blogContent ol {
    max-width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */