@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.Columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  background: none;
  border-bottom: 2px dashed rgba(114, 125, 162, 0.5);
}

.Columns .Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  padding: 1.75vmax 2.5vmax;
  border: none;
}

.Columns .Card .CardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.Columns .Card .CardImg {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 2.5vmin;
}

.Columns .Card h2 {
  border-bottom: 2px solid #727da2;
  margin-bottom: 0.5vmin;
  line-height: 1.4;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "Karma", serif;
}

.Columns .Card p {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: inherit;
  padding: inherit;
  font-size: 0.8rem;
}

@media (max-width: 1023px) {
  .Columns .Card h2 {
    font-size: 1.5rem;
  }
  .Columns .Card p {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .Columns .Card h2 {
    font-size: 1.4rem;
  }
  .Columns .Card p {
    max-width: 90%;
  }
}

/*.Columns:nth-child(odd) {
  //border-right: 2px dashed transparentize($clr-primary-brightened, 0.5);
}*/
@media (max-width: 1023px) {
  .Columns {
    max-width: 80%;
  }
  .Columns:first-child {
    margin-top: 2.5vmin;
  }
}

@media (max-width: 480px) {
  .Columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    border: 0;
  }
  .Columns .Card .CardBody {
    padding: 0;
    max-width: 100%;
  }
  .Columns:first-child {
    margin-top: 2.5vmin;
  }
}

.bgContainer {
  width: 100vw;
  min-height: 35vmin;
  background: url("https://raw.githubusercontent.com/masayaShinoda/wis-news/master/images/wis-background-darkened.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frontpageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin-top: 2.5vmin;
  padding: 2.5vmax 3.75vmax;
}

.frontpageContainer h2 {
  text-align: center;
  -webkit-animation-name: frontpageText;
          animation-name: frontpageText;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: white;
  text-shadow: 1px 1px 3px #3b4259;
}

@-webkit-keyframes frontpageText {
  0% {
    opacity: 0;
  }
}

@keyframes frontpageText {
  0% {
    opacity: 0;
  }
}

@media (max-width: 1023px) {
  .frontpageContainer {
    width: 80%;
  }
  .frontpageContainer h2 {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .frontpageContainer {
    width: 95%;
  }
  .frontpageContainer h2 {
    text-align: left;
  }
}
/*# sourceMappingURL=Component.module.css.map */