@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.Columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 33%;
  background: none;
  border-bottom: 2px dashed rgba(100, 111, 150, 0.5);
}

.Columns .Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  padding: 1.75vmax 2.5vmax;
  border: none;
}

.Columns .Card .CardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.Columns .Card .CardImg {
  width: 95%;
  margin: 0;
  padding: 0;
  margin-top: 1.25vmin;
}

.Columns .Card .CardTitle {
  border-bottom: 2px solid #646f96;
  line-height: 1.4;
  max-width: 100%;
  font-family: "Karma", serif;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.Columns .Card p {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: inherit;
  padding: inherit;
  font-size: 0.8rem;
}

.Columns .Card .CardSubtitle {
  margin: 0;
  line-height: 1;
  /*.CardTags:hover {
        color: $clr-primary;
        background: $clr-secondary;
        padding-left: 1.1em;
        padding-right: 1.1em;
        transition: 0.2s;
      }*/
}

.Columns .Card .CardSubtitle p {
  display: inline-block;
  background: #646f96;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: white;
  padding: 0.125vmax 0.5vmax;
}

.Columns .Card .CardSubtitle .CardAuthor {
  background: none;
  color: currentColor;
}

.Columns .Card .CardText {
  margin-top: 0.125vmin;
}

@media (max-width: 1023px) {
  .Columns .Card {
    /*p {
        max-width: 80%;
      }*/
  }
  .Columns .Card h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .Columns .Card {
    /*p {
        max-width: 90%;
      }*/
  }
  .Columns .Card h2 {
    font-size: 1.4rem;
  }
}

.Columns .Card:hover,
.Columns .Card:focus {
  outline: 2px solid #646f96;
}

/*.Columns:nth-child(odd) {
  //border-right: 2px dashed transparentize($clr-primary-brightened, 0.5);
}*/
@media (max-width: 1023px) {
  .Columns {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .Columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    border: 0;
  }
  .Columns .Card .CardBody {
    padding: 0;
    max-width: 100%;
  }
  .Columns:first-child {
    margin-top: 2.5vmin;
  }
}

.bgContainer {
  width: 100vw;
  min-height: 35vmin;
  background: url("https://raw.githubusercontent.com/masayaShinoda/wis-news/master/images/wis-background-darkened.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .bgContainer {
    min-height: 25vmax;
  }
}

.frontpageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin-top: 2.5vmin;
  padding: 1.75vmax 2.5vmax;
}

.frontpageContainer h2 {
  text-align: center;
  -webkit-animation-name: frontpageText;
          animation-name: frontpageText;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: white;
  text-shadow: 1px 1px 3px #3b4259;
}

@-webkit-keyframes frontpageText {
  0% {
    opacity: 0;
  }
}

@keyframes frontpageText {
  0% {
    opacity: 0;
  }
}

.frontpageContainer .LoginBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: #3b4259;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.frontpageContainer .LoginBtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5vmin;
}

.frontpageContainer .LoginBtn a i {
  color: white;
}

.frontpageContainer .LoginBtn a p {
  padding: 0.25em 0.5em;
  margin: 0;
  color: white;
}

.frontpageContainer .LoginBtn a:hover {
  background: #455174;
}

@media (max-width: 1023px) {
  .frontpageContainer {
    width: 80%;
  }
  .frontpageContainer h2 {
    text-align: left;
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .frontpageContainer {
    width: 95%;
  }
  .frontpageContainer h2 {
    text-align: left;
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=Component.module.css.map */