//IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
//VARIABLES
//fonts
$font-heading: "Karma", serif;
$font-subheading: "Assistant", sans-serif;
$font-primary: "Nunito Sans", sans-serif;
//colors
$clr-primary: #3b4259;
$clr-primary-brightened: lighten($clr-primary, 15%);
$clr-primary-darkmode: lighten($clr-primary, 75%);
$clr-secondary: #d5dff2;
$clr-light: lighten($clr-secondary, 15%);
$clr-darker: #939ebf;
$clr-dark: #333333;
//breakpoints
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;

//columns component
.Columns {
  //width: 65%;
  display: flex;
  //border: 1px solid red; //debug
  background: $clr-light;
  max-width: 50%;
  background: none;
  .Card {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-between;
    background: none;
    padding: 2.5vmax;
    .CardBody {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .CardImg {
      width: 100%;
      margin-top: 3.75vmin;
    }
    h2 {
      border-bottom: 2px solid $clr-secondary;
      margin-bottom: 1.25vh;
      line-height: 1.4;
      max-width: fit-content;
    }
    p {
      // the date in blog.js
      max-width: 65%;
      margin: inherit;
      padding: inherit;
      color: $clr-primary-brightened;
    }
    a:hover p {
      color: darken($clr-primary, 15%);
    }
    @media (max-width: $tablet-bp) {
      h2 {
        font-size: 1.5em;
      }
      p {
        max-width: 80%;
      }
    }
    @media (max-width: $mobile-bp) {
      h2 {
        font-size: 1.5em;
      }
      p {
        max-width: 90%;
      }
    }
  }
}
@media (max-width: $tablet-bp) {
  .Columns {
    max-width: 80%;
  }
}
@media (max-width: $mobile-bp) {
  .Columns {
    flex-direction: column;
    max-width: 100%;
    .Card {
      .CardBody {
        padding: 0;
        max-width: 100%;
      }
    }
  }
}
