//IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
//VARIABLES
//fonts
$font-heading: "Karma", serif;
$font-subheading: "Assistant", sans-serif;
$font-primary: "Nunito Sans", sans-serif;
//colors
$clr-primary: #3b4259;
$clr-primary-brightened: lighten($clr-primary, 25%);
$clr-primary-darkmode: lighten($clr-primary, 75%);
$clr-secondary: #d5dff2;
$clr-light: lighten($clr-secondary, 15%);
$clr-darker: #939ebf;
$clr-dark: #333333;
//breakpoints
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;
//standard
$padding-standard: 2.5vmax 3.75vmax;

//columns component
.Columns {
  //width: 65%;
  display: flex;
  max-width: 50%;
  background: none;
  //border: 1px solid red; //debug
  .Card {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-between;
    background: none;
    padding: $padding-standard;
    border: none;
    .CardBody {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .CardImg {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-top: 2.5vmin;
    }
    h2 {
      border-bottom: 2px solid $clr-primary-brightened;
      margin-bottom: 0.5vmin;
      line-height: 1.4;
      max-width: fit-content;
    }
    p {
      // the date in blog.js
      max-width: 65%;
      margin: inherit;
      padding: inherit;
      font-size: 0.8rem;
      //color: $clr-primary-brightened;
    }
    @media (max-width: $tablet-bp) {
      h2 {
        //font-size: 1.5em;
      }
      p {
        max-width: 80%;
      }
    }
    @media (max-width: $mobile-bp) {
      h2 {
        //font-size: 1.5em;
      }
      p {
        max-width: 90%;
      }
    }
  }
}
.Columns:nth-child(odd) {
  border-right: 2px dashed transparentize($clr-primary-brightened, 0.5);
}
@media (max-width: $tablet-bp) {
  .Columns {
    max-width: 80%;
  }
  .Columns:first-child {
    margin-top: 2.5vmin;
  }
  .Columns:nth-child(odd) {
    border: 0;
    //border-top: 2px dashed $clr-primary-brightened;
    //border-bottom: 2px dashed $clr-primary-brightened;
  }
}
@media (max-width: $mobile-bp) {
  .Columns {
    flex-direction: column;
    max-width: 100%;
    .Card {
      .CardBody {
        padding: 0;
        max-width: 100%;
      }
    }
  }
  .Columns:first-child {
    margin-top: 2.5vmin;
  }
}

//Frontpage component
.bgContainer {
  width: 100vw;
  min-height: 35vmin;
  background: url("https://raw.githubusercontent.com/masayaShinoda/wis-news/master/images/wis-background-darkened.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frontpageContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: 2.5vmin;
  padding: 2.5vmax 3.75vmax;
  h2 {
    text-align: center;
    animation-name: frontpageText;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    color: $clr-light;
    text-shadow: 1px 1px $clr-dark;
  }
  @keyframes frontpageText {
    0% {
      opacity: 0;
    }
  }
}
@media (max-width: $tablet-bp) {
  .frontpageContainer {
    width: 80%;
    h2 {
      text-align: left;
    }
  }
}
@media (max-width: $mobile-bp) {
  .frontpageContainer {
    width: 95%;
    h2 {
      text-align: left;
    }
  }
}
